ScanPOC/bryan.txt
ScanPOC/foo.txt
ScanPOC/.vs/ProjectEvaluation/scanpoc.metadata.v2
ScanPOC/.vs/ProjectEvaluation/scanpoc.projects.v2
ScanPOC/.vs/ScanPOC/config/applicationhost.config
ScanPOC/.vs/ScanPOC/DesignTimeBuild/.dtbcache.v2
ScanPOC/.vs/ScanPOC/FileContentIndex/25ba1d20-e39b-4106-b10f-a2c4d193dbdc.vsidx
ScanPOC/.vs/ScanPOC/FileContentIndex/a6443650-c3d1-428d-99f7-c82ef6f158c0.vsidx
ScanPOC/.vs/ScanPOC/FileContentIndex/b7ce90ed-b5f9-483d-8201-05b30f794e76.vsidx
ScanPOC/.vs/ScanPOC/FileContentIndex/be127b10-04b9-420d-82d6-3e42c6ebf8bd.vsidx
ScanPOC/.vs/ScanPOC/FileContentIndex/read.lock
ScanPOC/.vs/ScanPOC/v17/.futdcache.v1
ScanPOC/bin/Debug/net6.0/appsettings.Development.json
ScanPOC/bin/Debug/net6.0/appsettings.json
ScanPOC/bin/Debug/net6.0/Microsoft.OpenApi.dll
ScanPOC/bin/Debug/net6.0/ScanPOC.deps.json
ScanPOC/bin/Debug/net6.0/ScanPOC.dll
ScanPOC/bin/Debug/net6.0/ScanPOC.exe
ScanPOC/bin/Debug/net6.0/ScanPOC.pdb
ScanPOC/bin/Debug/net6.0/ScanPOC.runtimeconfig.json
ScanPOC/bin/Debug/net6.0/ScanPOC.staticwebassets.runtime.json
ScanPOC/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
ScanPOC/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
ScanPOC/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
ScanPOC/bin/Debug/net6.0/wwwroot/installers/Kofax.WebCapture.Installer.msi
ScanPOC/bin/Debug/net6.0/wwwroot/installers/Kofax.WebCapture.macOS.pkg
ScanPOC/bin/Debug/net6.0/wwwroot/js/atalaWebCapture.js.map
ScanPOC/bin/Debug/net6.0/wwwroot/js/jQuery.js
ScanPOC/obj/staticwebassets.pack.sentinel
ScanPOC/obj/Debug/net6.0/_IsIncrementalBuild
ScanPOC/obj/Debug/net6.0/apphost.exe
ScanPOC/obj/Debug/net6.0/project.razor.vs.json
ScanPOC/obj/Debug/net6.0/ScanPOC.csproj.BuildWithSkipAnalyzers
ScanPOC/obj/Debug/net6.0/ScanPOC.csproj.CopyComplete
ScanPOC/obj/Debug/net6.0/ScanPOC.csproj.CoreCompileInputs.cache
ScanPOC/obj/Debug/net6.0/ScanPOC.csproj.FileListAbsolute.txt
ScanPOC/obj/Debug/net6.0/ScanPOC.dll
ScanPOC/obj/Debug/net6.0/ScanPOC.genruntimeconfig.cache
ScanPOC/obj/Debug/net6.0/ScanPOC.MvcApplicationPartsAssemblyInfo.cache
ScanPOC/obj/Debug/net6.0/ScanPOC.MvcApplicationPartsAssemblyInfo.cs
ScanPOC/obj/Debug/net6.0/ScanPOC.pdb
ScanPOC/obj/Debug/net6.0/ScanPOC.RazorAssemblyInfo.cache
ScanPOC/obj/Debug/net6.0/ScanPOC.RazorAssemblyInfo.cs
ScanPOC/obj/Debug/net6.0/staticwebassets.build.json
ScanPOC/obj/Debug/net6.0/staticwebassets.development.json
ScanPOC/obj/Debug/net6.0/ref/ScanPOC.dll
ScanPOC/obj/Debug/net6.0/refint/ScanPOC.dll
ScanPOC/.vs/ScanPOC/FileContentIndex/474c8c08-e6c9-4c14-9933-d23eb66477be.vsidx
ScanPOC/.vs/ScanPOC/FileContentIndex/b0a401cb-b9d4-44cc-a4d3-97f1a59c09e1.vsidx
