@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<html>
    <head>
        <script src="~/js/jQuery.js"></script>
        <script src="~/js/atalaWebCapture.js"></script>
        <script>
            Atalasoft.Controls.Capture.WebScanning.initialize(
                { 
                    license: "mEaMQ7VxVUqJd9O5VWPBKb5S9ykFTbMI0yLfjh/hTepeMbW6WHe28y/TSR26oWALKKJA1q3jsdFlzzeITvaCMPIFHLBJyO2m0bEjkHVHfV/kUqQNgcIvMTqMTd9GJHInvCn+j6Mu7LmzN6TxLT5Cp0u3LmYVCR36cYOh2VcZG34=",
                    onScanError: function(msg, params) { console.log(msg); },
                    scanningOptions: {
                        applyVRS: true, // turn on VRS
                        duplex: 1, // double-sided scanning
                        resultPixelType: 0, //  -- VRS
                        suppressBackgroundColor: true, // if image has solid background color, treat that as 'white' -- VRS
                        discardBlankPages: true, // just what it says. Most useful when scanning duplex with some blank backs. -- VRS
                        tiff: { jpegCompression: true}, // if you are saving to TIFF and might be saving color, this shrinks the files *a lot* 
                        showScannerUI: true
                    },

                }
            );
        </script>
    </head>
    <body>
        <button id="scan">Scan</button>
        <script>

$('#scan').on('click', () => {
    Atalasoft.Controls.Capture.WebScanning.scanningOptions.scanner = $('.atala-scanner-list').val();
    Atalasoft.Controls.Capture.WebScanning.scan();
});

        </script>
    </body>
</html>

